{% extends 'base.html.twig' %}

{% block title %}Remfony{% endblock %}

{% block body %}

    <div id="root">
{#        {% if app.environment == 'dev' %}#}
{#            <script src="http://localhost:3000/js/app.js"></script>#}
{#        {% else %}#}
            <script src="/js/app.js"></script>
{#        {% endif %}#}
    </div>
{% endblock %}